* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;   
}
body{
    width: 100vw;
    overflow-x:hidden;
}
.main {
    /* background-color: azure; */
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.navContainer {
    background-color: #041562;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
}

.nav {
    width: 90vw;

    display: flex;
    justify-content: space-between;
    /* padding: 35px 70px; */
}

.topLeft {
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo{
    font-size: 43px;
    display: flex;
    align-items: center;
}
.brandName{
    font-size: 30px;
}
.moto{
    color: #a3b0cc;
}
.cart{
    color: #DA1212;
    transition: transform 0.3s ease;
}
.cart:hover{
    color: #87a8d6;
    transform: scale(1.2);
    cursor:pointer;
    
    /* background-color: aqua; */
}
.toCart{
    display: flex;
    align-items: center;
    color: #EEEEEE;
}
.products{
    display: flex;
    justify-content: center;
    
}
.txt{
    /* background-color: #6582ac; */
    border-bottom: 3px solid #DA1212;
    font-size: 25px;
    padding: 10px;
    /* width: 20vw; */
    
}
.comodities{
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    gap: 20px;

    justify-content: space-evenly;
}
.commodity{
    /* background-color: pink; */
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding: 20px; */
    /* border: 1px solid black; */
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.commodity:hover{
    transform: scale(1.05);
}
.commodity img{
    width: 100%;
    height: 230px;
    transition: transform 0.3s ease;
}
.commodity img:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.productName{
    font-size: 25px;
    color: #DA1212;
}
.descripton{
    font-size: 18px;
}
.price{
    color: rgb(18, 3, 42);
}
.bodyComodities{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
.productDetails{
    /* background-color: aquamarine; */
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
button{
    border: none;
    padding: 10px 20px;
    background-color: #dccfcf;
    color: #DA1212;
    border-radius: 10px;
    background-color: #11468F;    
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    background-color: #11468F;
       color: #EEEEEE;
       cursor: pointer;
    background-color: #041562;
    /* color: #DA1212; */
}
button ion-icon{
    /* background-color: yellow; */
    font-size: 25px;
}
.stars{
    display: flex;
    gap: 5px;
}
.rates{
    margin-left: 10px;
}
.stars ion-icon{
    color: rgb(255, 217, 0);
}
.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.formContainer form{
    display: flex;
    flex-direction: column;
    /* background-color: #DA1212; */
    width: 50vw;
    gap :10px;
    justify-content: center;
}
.formContainer form input{
    padding: 10px 20px;
}
.formContainer button{
    padding: 10px;
    width: 70%;
    /* background-color: yellow; */
}
.formButton{
    display: flex;
    justify-content: center;
    /* background-color: #DA1212; */
}

/* Admin list */
.deleteTable {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.productTable {
    width: 90vw;
    background-color: #EEEEEE;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
}

.productTable th, .productTable td {
    padding: 15px;
    text-align: left;
}

.productTable th {
    background-color: #041562;
    color: white;
}

.productTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.productTable img {
    width: 100px;
    height: 110px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.productTable button {
    padding: 5px 10px;
    transition: transform 0.3s ease;
}

.productTable .delete {
    background-color: #ce3838;
}

.productTable .delete:hover {
    background-color: #c21919;
    transform: scale(1.02);
}

.productTable .modify {
    background-color: #041562;
}

.productTable .modify:hover {
    background-color: #11138f;
    transform: scale(1.02);
}

.productTable .view:hover {
    transform: scale(1.02);
}




/* General table styles */
.productTable {
    /* width: 100%; */
    border-collapse: collapse;
    margin-bottom: 20px;
}

.productTable th, .productTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

/* //popup */

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    overflow: auto; 
    padding-top: 250px; 
}

.popup-content {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fefefe;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.popup-image {
    width: 200px; 
    height: 200px;
    margin-right: 20px;
    border-radius: 10px;
 }
 .product-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
 }

#closePopup {
    position: absolute;
    top: 31vh;
    left: 80vw;
    color: #aaa;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: #c21919;
    background-color: transparent;
}



@media screen and (max-width: 700px) {
    .productTable thead {
        display: none; /* Hide the table header */
    }

    .productTable,   .productTable td {
        display: block;
        width: 80%;
    }

    .productTable tr {
        border-bottom: 2px solid black;
        margin-bottom: 30px;
    }

    .productTable td {
        text-align: left;
        padding-left: 50%;
        position: relative;
    }

    /* .productTable td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    } */
}

/* Adjust table layout for even smaller screens */
@media (max-width: 480px) {
    .productTable td {
        padding-left: 40%;
    }

    .productTable td::before {
        left: 5px;
        width: calc(50% - 10px);
        padding-right: 5px;
    }
}

